/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* ===== BODY ===== */
body {
  background:  #98aee6;;
  padding: 30px;
  color: #2c3e50;
}

/* ===== HEADER ===== */
h1 {
  text-align: center;
  margin-bottom: 25px;
}

/* ===== TOP BAR ===== */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#welcomeText {
  font-weight: 600;
  font-size: 30px;
}

/* ===== CARD ===== */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

/* ===== CARD HEADER ===== */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* ===== FORM ===== */
input, select, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  width: 100%;
}

textarea {
  resize: none;
  height: 80px;
}

input:focus, select:focus, textarea:focus {
  border-color: #4a69bd;
  outline: none;
}

/* ===== BUTTONS ===== */
button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.primary-btn {
  background: #4a69bd;
  color: white;
}

.primary-btn:hover {
  background: #3b57a0;
}

.success-btn {
  background: #2ecc71;
  color: white;
}

.success-btn:hover {
  background: #27ae60;
}

.danger-btn {
  background: #e74c3c;
  color: white;
}

.danger-btn:hover {
  background: #c0392b;
}

.logout-btn {
  background: #e74c3c;
  color: white;
}

.logout-btn:hover {
  background: #c0392b;
}

.small {
  padding: 6px 12px;
  font-size: 13px;
}

/* ===== ACTION BUTTONS ===== */
.action-buttons {
  margin-bottom: 15px;
}

.action-buttons button {
  margin-right: 10px;
}

/* ===== TABLE ===== */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2c3e50;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:hover {
  background: #f2f6ff;
}

/* ===== STATUS BADGE ===== */
.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.status.pending {
  background: #f1c40f;
}

.status.approved {
  background: #2ecc71;
  color: white;
}

.status.rejected {
  background: #e74c3c;
  color: white;
}

/* ===== HIDDEN ===== */
.hidden {
  display: none;
}